.navbar {
    background-color: lightblue;
    background-image: url("https://cdn.pixabay.com/photo/2015/01/26/17/29/wall-612926_1280.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .funflow{
    position: relative;
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
    border-radius: 10px;
    
}

.funflow::before{
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    background: conic-gradient(transparent, transparent, transparent, lightblue);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.image{
    position: absolute;;
    inset: 5px;
    background-color: dark;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7bd9f6;
    font-size: 20px;
    font-weight: bold;
    background-color: dark;
    padding: 0 16px;
}
span{
    text-align: left;
}
  
.brand {
    font-weight: bold;
    color: #7bd9f6;
  }
  
  .navItem {
    font-weight: bold;
    color: #333;
  }
  
  .navItem:hover {
    color: #1E90FF;
  }
  
