.footer {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/26/17/29/wall-612926_1280.jpg");
    color: #333;
    padding: 20px 0;
    text-align: center;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-around;
  }
  
  .quickLinks, .contactInfo {
    text-align: left;
  }
  
  .contactInfo p {
    margin: 0;
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #1E90FF;
  }
  
  .copyright {
    font-size: 14px;
  }
  .heading{
    color: grey;
  }