.footer {
  background-image: url("https://cdn.pixabay.com/photo/2015/01/26/17/29/wall-612926_1280.jpg");
  color: #000;
  padding: 2rem 0;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 1rem 0;
}

.footerSection {
  flex: 1;
  text-align: center;
  margin: 0 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

p, ul, li, a {
  font-size: 1rem;
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }
  
  .footerSection {
    flex: auto;
    margin: 1rem 0;
  }
}
