.bookSection {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .bookContent {
    text-align: center;
    color: yellow;
  }
  
  .heading {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .description {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .discount {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .dateAndTime {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .bookButton {
    font-size: 20px;
  }
  